a {
    color: green;
}
a:hover {
    color: darkgreen;
}

.desc_css {
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3;
           line-clamp: 3; 
   -webkit-box-orient: vertical;
   height: calc(3 * 1.5em);
}
.start-body {
    margin-top: 6rem;
}