.navbar-logo {
    max-height: 80px; /* Aanpassen aan de gewenste hoogte */
    max-width: 200px; /* Aanpassen aan de gewenste breedte */
}

.filter-form {
    text-align-last: center;
}

a {
    color: green;
}
a:hover {
    color: darkgreen;
}