    .navbar-custom {
    background-color: #f8f9fa; /* Achtergrondkleur */
    padding: 10px; /* Binnenste vulling */
    position: fixed; /* Maak de navigatiebalk vast aan de bovenkant van het scherm */
    top: 0; /* Plaats de navigatiebalk helemaal bovenaan het scherm */
    width: 100%; /* Maak de breedte van de navigatiebalk 100% van het scherm */
    z-index: 1000; /* Zorg ervoor dat de navigatiebalk bovenop andere elementen staat */
}


.navbar-custom .navbar-brand {
    font-size: 1.5rem; /* Grootte van de merknaam */
    color: #007bff; /* Kleur van de merknaam */
}

.navbar-custom .navbar-nav .nav-link {
    color: #007bff; /* Kleur van de navigatielinks */
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #0056b3; /* Kleur van de navigatielinks bij hover */
}

.navbar-custom .btn-contact {
    color: #fff; /* Tekstkleur van de contactknop */
    background-color: #007bff; /* Achtergrondkleur van de contactknop */
}

.navbar-custom .btn-contact:hover {
    background-color: #0056b3; /* Achtergrondkleur van de contactknop bij hover */
}
